SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,nerzhaveyka.kg,www.nerzhaveyka.kg
CSRF_TRUSTED_ORIGINS=https://nerzhaveyka.kg,https://www.nerzhaveyka.kg

DATABASE_ENGINE=sqlite
POSTGRES_DB=nerzhaveyka_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-secure-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
