[Unit]
Description=Gunicorn for nerzhaveyka.kg
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/nerzhaveyka
EnvironmentFile=/var/www/nerzhaveyka/.env
ExecStart=/var/www/nerzhaveyka/venv/bin/gunicorn nerzhaveyka.wsgi:application --bind 127.0.0.1:8000 --workers 3 --timeout 120
Restart=always

[Install]
WantedBy=multi-user.target
